# Introduction to Python

In this lesson we will learn the basics of the Python programming language (version 3). We won't learn everything about Python but enough to do some basic machine learning.

<img src="figures/python.png" width=350>

#  Variables

Variables are objects in Python that can hold anything with numbers or text. Let's look at how to create some variables.

In [3]:
# Numerical example
x = 55
print (x)

# Changed 5 to 55

55

In [4]:
# Text example
x = 'hello and stuff'
print (x)

# Changed "hello" to 'hello and stuff'

hello and stuff

In [5]:
# Variables can be used with each other
a = 1
b = 2
c = a * b
print (c)

# Changed a + b to a * b

2

Variables can come in lots of different types. Even within numerical variables, you can have integers (int), floats (float), etc. All text based variables are of type string (str). We can see what type a variable is by printing its type.

In [6]:
# int variable
x = 5
print (x)
print (type(x))

# float variable
y = 5.0
print (y)
print (type(y))

# text variable
z = "5" 
print (z)
print (type(z))

# boolean variable
aa = True
print (aa)
print (type(aa))

print(aa + x * y - ord(z))

## separated the variables into separate namespaces and then combined them into a single operation

5
<class 'int'>
5.0
<class 'float'>
5
<class 'str'>
True
<class 'bool'>
-27.0

It's good practice to know what types your variables are. When you want to use numerical operations on them, they need to be compatible.

In [9]:
# int variables
a = 5
b = 3
print (a + b)

# string variables
a = "5"
b = "3"
print(int(a) + int(b))

#changed the string concat to cast the strings to integers and sum them

8
8

#  Lists

Lists are objects in Python that can hold a ordered sequence of numbers **and** text.

In [22]:
# Creating a list
list_x = [3, "hello", 1]
print (list_x[::-1])

#reversed the list in the print command

[1, 'hello', 3]

In [23]:
# Adding to a list
list_x.insert(3, 7)
print (list_x)

#changed the append to an insert at the index[3].

[3, 'hello', 1, 7]

In [25]:
# Accessing items at specific location in a list
print ("list_x[0]: ", list_x[0])
print ("list_x[1]: ", list_x[1])
print ("list_x[2]: ", list_x[2])
print ("list_x[-1]: ", list_x[-1]) # the last item
print ("list_x[-2]: ", list_x[-2]) # the second to last item
print ("list_x[list_x[0]]:", list_x[list_x[0]])

# added a list reference using a list reference as the index

list_x[0]:  3
list_x[1]:  hello
list_x[2]:  1
list_x[-1]:  7
list_x[-2]:  1
list_x[list_x[0]]: 7

In [32]:
# Slicing
print ("list_x[:]: ", list_x[:])
print ("list_x[2:]: ", list_x[2:])
print ("list_x[1:3]: ", list_x[1:3])
print ("list_x[:-1]: ", list_x[:-1])

print("list_x[3:0:-2]:", list_x[3:0:-2])
#added a reverse 2-step slice from 3:0

list_x[:]:  [3, 'hello', 1, 7]
list_x[2:]:  [1, 7]
list_x[1:3]:  ['hello', 1]
list_x[:-1]:  [3, 'hello', 1]
list_x[3:0:-2]: [7, 'hello']

In [33]:
# Length of a list
len(list_x) * 2

#returned double the length of the list

8

In [34]:
# Replacing items in a list
list_x[1] = "hi"
list_x[2] = "cake"
print (list_x)

#replaced [2] with "cake"

[3, 'hi', 'cake', 7]

In [36]:
# Combining lists
list_y = [2.4, "world"]
list_z = list_y + list_x
print (list_z)

# reversed the order of the list concat

[2.4, 'world', 3, 'hi', 'cake', 7]

# Tuples

Tuples are also objects in Python that can hold data but you cannot replace their values (for this reason, tuples are called immutable, whereas lists are known as mutable).

In [55]:
# Creating a tuple
tuple_x = (3.0, "hello", list_z[0])
print (tuple_x)

#added a value from list_z to the tuple

(3.0, 'hello', 2.4)

In [56]:
# Adding values to a tuple
tuple_x = tuple_x + (tuple_x[-1],)
print (tuple_x)

#repeated the last item in the tuple

(3.0, 'hello', 2.4, 2.4)

In [57]:
# Trying to change a tuples value (you can't, this should produce an error.)
tuple_x = (tuple_x[0],) + ('world',) + tuple_x[2:]

print(tuple_x)
#made the reassignment work in a hacky way that emphasizes why you don't use an immutable to store mutable variables.

(3.0, 'world', 2.4, 2.4)

# Dictionaries

Dictionaries are Python objects that hold key-value pairs. In the example dictionary below, the keys are the "name" and "eye_color" variables. They each have a value associated with them. A dictionary cannot have two of the same keys.

In [60]:
# Creating a dictionary
dog = {"name": "dog",
        "eye_color": "brown"}
print (dog)
print (dog["name"])
print (dog["eye_color"])
print(dog.keys())

#added a print of the keys for the dict

{'name': 'dog', 'eye_color': 'brown'}
dog
brown
dict_keys(['name', 'eye_color'])

In [61]:
# Changing the value for a key
dog["eye_color"] = "silver"
print (dog)

#changed the color string

{'name': 'dog', 'eye_color': 'silver'}

In [62]:
# Adding new key-value pairs
dog["age"] = 5
dog["breed"] = 'pug'
print (dog)

#added a breed key-value pair

{'name': 'dog', 'eye_color': 'silver', 'age': 5, 'breed': 'pug'}

In [67]:
# Length of a dictionary
print (len(dog))
print(dog)

#added a reprint of the dog dict

4
{'name': 'dog', 'eye_color': 'silver', 'age': 5, 'breed': 'pug'}

# If statements

You can use `if` statements to conditionally do something.

In [68]:
# If statement
x = 4 + 1
if x < 1:
    score = "low"
elif x <= 4:
    score = "medium"
else:
    score = "high"
print (score)

#got a better score (added 1 to score during assignment to change the outcome of the conditional)

high

In [69]:
# If statment with a boolean
x = True
if not x:
    print ("it worked")
else:
    print('well crap')
    
#changed the statement to trigger on an else condition

well crap

# Loops

In Python, you can use `for` loop to iterate over the elements of a sequence such as a list or tuple, or use `while` loop to do something repeatedly as long as a condition holds.

In [70]:
# For loop
x = 1
for i in range(5): # goes from i=0 to i=2
    x += 1 # same as x = x + 1
    print ("i={0}, x={1}".format(i, x)) # printing with multiple variables
    
#added 2 more steps

i=0, x=2
i=1, x=3
i=2, x=4
i=3, x=5
i=4, x=6

In [77]:
# Loop through items in a list
x = 1
for i in [0, 1, 2]:
    x += 2
    print ("i={0}, x={1}".format(i, x))
    
# changed the += 1 to += 2

i=0, x=3
i=1, x=5
i=2, x=7

In [78]:
# While loop
x = 10
while x > 0:
    x -= 1 # same as x = x - 1
    print (x)
    
# Made the loop go a little longer.

9
8
7
6
5
4
3
2
1
0

# Functions

Functions are a way to modularize reusable pieces of code.

In [80]:
# Create a function
def add_two(x):
    x += 2
    return x

# Use the function
score = 0
score = add_two(score)
print (score)

#removed the superfluous variable assignment in the function call

2

In [81]:
# Function with multiple inputs
def join_name(first_name, last_name):
    joined_name = first_name + " " + last_name
    return joined_name

# Use the function
first_name = "John"
last_name = "Doe"
joined_name = join_name( last_name=last_name, first_name=first_name)
print (joined_name)

#made the variable assignment statements in the function call useful by mixing up the order of variables in the call.

John Doe

# Classes

Classes are a fundamental piece of object oriented programming in Python.

In [84]:
# Creating the class
class Pets(object):
  
    # Initialize the class
    def __init__(self, species, color, name):
        self.species = species
        self.color = color
        self.name = name

    # For printing  
    def __str__(self):
        return "{0} {1} named {2}!".format(self.color.upper(), self.species, self.name)

    # Example function
    def change_name(self, new_name):
        self.name = new_name
        
# put the color in all caps in the printout and replaced the . with !

In [86]:
# Creating an instance of a class
my_dog = Pets(species="dog", color="purple", name="Rover",)
print (my_dog)
print (my_dog.name)

#made Rover purple.

PURPLE dog named Rover!
Rover

In [87]:
# Using a class's function
my_dog.change_name(my_dog.name.upper())
print (my_dog)
print (my_dog.name)

# kept the name Rover, but all caps

PURPLE dog named ROVER!
ROVER

# Additional resources

This was a very quick look at Python and we'll be learning more in future lessons. If you want to learn more right now before diving into machine learning, check out this free course: [Free Python Course](https://www.codecademy.com/learn/learn-python)